@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: "Roboto", sans-serif;
}

.display {
    font-weight: 400;
}

.display.large {
    font-size: 57pt;
    line-height: 64pt;
}

.display.medium {
    font-size: 45pt;
    line-height: 52pt;
}

.display.small {
    font-size: 36pt;
    line-height: 44pt;
}

.headline {
    font-weight: 400;
}

.headline.large {
    font-size: 32pt;
    line-height: 40pt;
}

.headline.medium {
    font-size: 28pt;
    line-height: 36pt;
}

.headline.small {
    font-size: 24pt;
    line-height: 32pt;
}

.title {
    font-weight: 500;
}

.title.large {
    font-size: 22pt;
    font-weight: 400;
    line-height: 28pt;
}

.title.medium {
    font-size: 16pt;
    line-height: 24pt;
}

.title.small {
    font-size: 14pt;
    line-height: 20pt;
}

.body {
    font-weight: 400;
}

.body.large {
    font-size: 16pt;
    line-height: 24pt;
}

.body.medium {
    font-size: 14pt;
    line-height: 20pt;
}

.body.small {
    font-size: 12pt;
    line-height: 16pt;
}

.label {
    font-weight: 500;
}

.label.large {
    font-size: 14pt;
    line-height: 20pt;
}

.label.medium {
    font-size: 12pt;
    line-height: 16pt;
}

.label.small {
    font-size: 11pt;
    line-height: 16pt;
}
